---
/**
 * Chris Pikul's Portfolio, designed and coded by Chris Pikul.
 * Copyright 2022 Chris Pikul. All Rights Reserved.
 * 
 * Index for "Articles" providing a way to list the articles
 * available.
 */
import MasterLayout from '@layouts/MasterLayout.astro';
import Title from '@components/Title.astro';
import ArticleCard from '@components/ArticleCard.astro';

import type { ArticleFrontmatter } from 'src/article-frontmatter';

const articles = (await Astro.glob<ArticleFrontmatter>('./*.md'))
  .filter(({ frontmatter }) => (frontmatter && frontmatter.timestamp && !frontmatter.draft))
  .sort((artA, artB) => {
    const dateA:Date = new Date(artA.frontmatter.timestamp);
    const dateB:Date = new Date(artB.frontmatter.timestamp);
    return dateA < dateB ? 1 : (dateA > dateB ? -1 : 0);
  });

---
<MasterLayout showName>
  <section class='portrait-gap'>
    <Title text='Articles' />
    <p>Hopefully some of these articles will interest you, as much as their topics interested me.</p>

    <div class='article-list'>
      { articles.map(({ frontmatter, url }) => <ArticleCard uri={url} {...frontmatter} />) }
    </div>

  </section>
</MasterLayout>

<style lang="scss">
  @use '../../styles/_base' as *;
  @use '../../styles/_colors' as *;

  .article-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    margin-top: 2rem;
  }
</style>