---
/**
 * Chris Pikul's Portfolio, designed and coded by Chris Pikul.
 * Copyright 2022 Chris Pikul. All Rights Reserved.
 * 
 * Index for "Articles" providing a way to list the articles
 * available.
 */
import MasterLayout from '@layouts/MasterLayout.astro';
import Title from '@components/Title.astro';
import ArticleCard from '@components/ArticleCard.astro';
import { getCollection } from 'astro:content';

const articles = (await getCollection('articles')).sort((a, b) => {
  const dateA = a.data.timestamp;
  const dateB = b.data.timestamp;
  return dateA < dateB ? 1 : (dateA > dateB ? -1 : 0);
});

---
<MasterLayout showName>
  <section class='portrait-gap'>
    <Title text='Articles' />
    <p>I have found a love in writing, it provides a calming sense to getting ideas out. It also allows me to teach and offer the world something they can enjoy.
      I write about all kinds of things, from tutorials to short stories. Oh and if your into RSS I <a href="/rss.xml">have a RSS feed</a> you can subscribe with.
    </p>

    <div class='article-list'>
      { articles.map(({ slug, data }) => <ArticleCard uri={slug} {...data as any} />) }
    </div>

  </section>
</MasterLayout>

<style lang="scss">
  @use '../../styles/_base' as *;
  @use '../../styles/_colors' as *;

  .article-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    margin-top: 2rem;
  }
</style>