/* Variable font */
@font-face {
  font-family: 'Exo-2 VF';
  src: url('/fonts/exo-2/exo-2-variable.woff2') format('woff2-variations'),
      url('/fonts/exo-2/exo-2-variable.woff2') format('woff2');
  font-display: swap;
  font-weight: 100 900;
  font-stretch: 75 125;
} 

/* Traditional font */
@font-face {
  font-family: 'Exo-2';
  src: url('/fonts/exo-2/exo-2-300.woff2') format('woff2'),
      url('/fonts/exo-2/exo-2-300.woff') format('woff'),
      url('/fonts/exo-2/exo-2-300.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}

/* Italic 300 */
@font-face {
  font-family: 'Exo-2';
  src: url('/fonts/exo-2/exo-2-300-italic.woff2') format('woff2'),
      url('/fonts/exo-2/exo-2-300-italic.woff') format('woff'),
      url('/fonts/exo-2/exo-2-300-italic.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

/* Medium 500 */
@font-face {
  font-family: 'Exo-2';
  src: url('/fonts/exo-2/exo-2-500.woff2') format('woff2'),
      url('/fonts/exo-2/exo-2-500.woff') format('woff'),
      url('/fonts/exo-2/exo-2-500.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}
