$shade-50: hsl(331deg 4% 91%);
$shade-100: hsl(356deg 7% 85%);
$shade-200: hsl(14deg 4% 76%);
$shade-300: hsl(36deg 8% 63%);
$shade-400: hsl(54deg 5% 53%);
$shade-500: hsl(90deg 6% 42%);
$shade-600: hsl(184deg 8% 33%);
$shade-700: hsl(184deg 9% 26%);
$shade-800: hsl(184deg 8% 19%);
$shade-900: hsl(194deg 8% 13%);
$shade-950: hsl(200deg 7% 8%);

$bg-light-start: hsl(349deg 7% 85%);
$bg-light-end: hsl(4deg 3% 69%);

$bg-dark-start: hsl(184deg 9% 13%);
$bg-dark-end: hsl(209deg 7% 6%);

$vignette-start: hsl(0deg 0% 100%);
$vignette-end: hsl(45deg 10% 15%);
