---
/**
 * Chris Pikul's Portfolio, designed and coded by Chris Pikul.
 * Copyright 2022 Chris Pikul. All Rights Reserved.
 * 
 * Index page, AKA "home"
 */
import MasterLayout from '@layouts/MasterLayout.astro';
import Title from '@components/Title.astro';

---
<MasterLayout>
  <section id='intro-hero' class='intro-first page'>
    <div id='intro-hero-wrapper'>
      <h1>Chris Pikul</h1>
      <h2>[ Software Developer ]</h2>
    </div>
  </section>

  <section class='page'>
    <div id='about' class='hidden section-anchor' />
    <Title text='About Me' />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Vivendum intellegat et qui, ei denique consequuntur vix. Offendit eleifend moderatius ex vix, quem odio mazim et qui, purto expetendis cotidieque quo cu, veri persius vituperata ei nec. Offendit eleifend moderatius ex vix, quem odio mazim et qui, purto expetendis cotidieque quo cu, veri persius vituperata ei nec. Vivendum intellegat et qui, ei denique consequuntur vix. Sonet tibique sea et. Pri posse graeco definitiones cu, id eam populo quaestio adipiscing, usu quod malorum te. Offendit eleifend moderatius ex vix, quem odio mazim et qui, purto expetendis cotidieque quo cu, veri persius vituperata ei nec. Soluta facilisi instructior eam in, ferri oratio ancillae te ius. Vivendum intellegat et qui, ei denique consequuntur vix. Qui gloriatur scribentur et, id velit verear mel, cum no porro debet. Vivendum intellegat et qui, ei denique consequuntur vix.</p>
  </section>
</MasterLayout>

<style lang="scss">
  @use '../styles/base' as *;
  @use '../styles/colors' as *;

  #intro-hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    flex: 1;
    margin: 0 auto;
    padding: 0 1em 0;

    h1 {
      margin-bottom: 1rem;

      @include font-common(2.2rem);
      text-align: center;
      text-transform: uppercase;
      color: $shade-700;
      color: var(--shade-700);

      text-shadow: 0px 4px 0.1em rgb(0 0 0 / 0.5);
    }

    h2 {
      @include font-code(0.8rem);
      text-align: center;
      color: $shade-600;
      color: var(--shade-600);

      text-shadow: 0px 2px 4px rgb(0 0 0 / 0.2);
    }
  }

  @media screen and (min-device-width: 1020px) {
    #intro-hero {
      h1 { font-size: 3rem; }
      h2 { font-size: 1rem; }
    }
  }

  @media screen and (min-device-width: 1350px) {
    #intro-hero {
      h1 { font-size: 4rem; }
      h2 { font-size: 1.2rem; }
    }
  }

  @media screen and (min-device-width: 1500px) {
    #intro-hero {
      h1 { font-size: 5rem; }
      h2 { font-size: 1.3rem; }
    }
  }
</style>