---
/**
 * Chris Pikul's Portfolio, designed and coded by Chris Pikul.
 * Copyright 2022 Chris Pikul. All Rights Reserved.
 * 
 * Index page, AKA "home"
 */
import MasterLayout from '@layouts/MasterLayout.astro';
---
<MasterLayout>
  <section id='intro-hero' class='intro-first'>
    <div id='intro-hero-wrapper'>
      <h1>Chris Pikul</h1>
      <h2>[ Software Developer ]</h2>
    </div>
  </section>
</MasterLayout>

<style lang="scss">
  @use '../styles/base' as *;
  @use '../styles/colors' as *;

  #intro-hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    //position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    max-width: 800px;
    height: 100%;
    min-height: 100vh;

    flex: 1;
    margin: 0 auto;
    padding: 0 1em 0;

    h1 {
      margin-bottom: 1rem;

      @include font-common(2.2rem);
      text-align: center;
      text-transform: uppercase;
      color: $shade-700;
      color: var(--shade-700);

      text-shadow: 0px 4px 6px rgb(0 0 0 / 0.25);
    }

    h2 {
      @include font-code(0.8rem);
      text-align: center;
      color: $shade-600;
      color: var(--shade-600);

      text-shadow: 0px 2px 4px rgb(0 0 0 / 0.2);
    }
  }

  @media screen and (min-device-width: 1020px) {
    #intro-hero {
      h1 { font-size: 3rem; }
      h2 { font-size: 1rem; }
    }
  }

  @media screen and (min-device-width: 1350px) {
    #intro-hero {
      h1 { font-size: 4rem; }
      h2 { font-size: 1.2rem; }
    }
  }

  @media screen and (min-device-width: 1500px) {
    #intro-hero {
      h1 { font-size: 5rem; }
      h2 { font-size: 1.3rem; }
    }
  }
</style>