---
/*
 * Index/Home page
 */
import BaseLayout from '@layouts/BaseLayout.astro';

---
<BaseLayout>
  <header id='hero'>
    <span id='hero-pre'>Hello, my name is</span>
    <h1 id='hero-name'>Chris Pikul</h1>
    <span id='hero-post'>and I'm a developer</span>
  </header>

  <section class='tertiary'>
    <p>Born and raised in the San Francisco Bay Area, I learned programming at the age of 9, as a facination on how websites worked (at that time, it was Netscape and HTML 1.0).
      Today, I am a polyglot programmer with a major focus on full-stack web development, with additional interests in Game and Application Development.</p>

    <p>This site is a culmination of my projects, any written articles that I have produced, and represents a portfolio piece on it's own.</p>
  </section>

  <section class='primary'>
    <p>Put some projects here</p>
  </section>

  <section class='secondary'>
    <p>Put some articles here</p>
  </section>

  <footer id='main-footer'>
    <p>Standard footer</p>
  </footer>
</BaseLayout>

<style lang="scss">
  @use '../styles/_base' as *;
  @use '../styles/_colors' as *;

  #hero {
    display: flex;
    flex-flow: column nowrap;
    
    position: relative;
    width: 100%;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;

    padding: 1rem;
    @include font_title();

    #hero-name {
      display: inline-block;
      height: 1em;

      font-size: 14vw;
      font-size: calc((100vw - 2rem) / 6.35);
      font-weight: 700;
      line-height: 1em;
      vertical-align: bottom;
      white-space: nowrap;
      color: $clr-black;
    }

    #hero-pre {
      display: inline-block;
      align-self: flex-start;
      position: relative;
      left: 0.15ch;
      height: 1em;
      margin-bottom: 0.25rem;
      
      font-size: 6vw;
      font-weight: 400;
      line-height: 1em;
      vertical-align: middle;
      white-space: nowrap;
      color: $clr-shade-700;
    }

    #hero-post {
      display: inline-block;
      align-self: flex-end;
      position: relative;
      right: 0.05ch;
      height: 1em;
      margin-top: 0.1rem;

      font-size: 5vw;
      font-weight: 400;
      line-height: 1em;
      text-align: right;
      vertical-align: middle;
      white-space: nowrap;
      color: $clr-shade-700;
    }
  }

</style>

<script>
  import FillText from '@scripts/FillText';

  FillText('#hero-name');
  FillText('#hero-pre, #hero-post', { compression: 0.6 });
</script>