---

---
<article class='article-card'>
  <a href={Astro.props.href ?? 'about:blank'}>
    <h3>{ Astro.props.title }</h3>
    <div class='card-summary'>
      <p>{ Astro.props.summary }</p>
    </div>
  </a>
  <div class='card-footer'>
    <ul class='tag-list'>
      { Astro.props.tags && Astro.props.tags.map(tag => <li>{ tag }</li>)}
    </ul>
    <time datetime={Astro.props.timestamp}>{ (new Date(Astro.props.timestamp)).toLocaleString() }</time>
  </div>
</article>

<style lang="scss">
  .article-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    padding: 0.25rem;
    background: rgba(100% 100% 100% / 5%);
    border-radius: 0.2rem;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.15rem;
    }

    .card-summary {
      font-size: 0.8rem;
    }

    .card-footer {
      display: flex;
      flex-flow: column nowrap;

      margin-top: 0.25rem;
      padding-top: 0.25rem;
      border-top: 2px solid var(--rel-shade-300);

      .tag-list {
        display: flex;
        flex-flow: row wrap;
        list-style: none;

        li {
          display: flex;
          flex-flow: row nowrap;

          margin-top: 0.2rem;
          margin-right: 0.5rem;
          padding: 0 0.5em;

          background: var(--rel-shade-600);
          color: var(--rel-shade-100);
          border-radius: 0.2rem;
          font-size: 0.75rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      time {
        align-self: flex-end;
        color: var(--rel-shade-100);
        font-size: 0.75rem;
      }
    }
  }
</style>