---

---
<nav id='main-nav'>
  <a id='main-nav-name' href='/'>Chris Pikul</a>
  <ul id='main-nav-links'>
    <li><a href='/projects/'>Projects</a></li>
    <li><a href='/articles/'>Articles</a></li>
  </ul>
</nav>

<style lang="scss">
  @use '../styles/_base' as *;
  @use '../styles/_colors' as *;

  #main-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: var(--content-pad-y) var(--content-pad-x);
    border-bottom: 2px dotted var(--rel-shade-100);

    #main-nav-name {
      display: inline-block;
      position: relative;
      top: 0.1ch;
      height: 1rem;
      @include font_title();
      font-size: 1rem;
      line-height: 1em;
      vertical-align: bottom;
      color: var(--primary-400);
    }

    #main-nav-links {
      display: none; // mobile doesn't display
      flex-flow: row nowrap;

      li {
        margin-left: 1rem;

        a, a:visited {
          position: relative;
          color: var(--secondary-400);

          &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: transparent;
            transition: background 0.2s ease-out;
          }

          &:hover::after, &:active::after {
            background-color: var(--secondary-700);
          }
        }
      }
    }
  }

  @media screen and (min-device-width: 768px) {
    #main-nav-links {
      display: flex !important;
    }
  }
</style>