---
/**
 * Chris Pikul's Portfolio, designed and coded by Chris Pikul.
 * Copyright 2022 Chris Pikul. All Rights Reserved.
 * 
 * Provides a short listing for a project that links to another
 * page.
 */

interface Props {
  uri: string;
  title?: string;
  summary: string;
  tags: Array<string>;
  timestamp: string;
};

const {
  uri,
  title,
  summary,
  tags = [],
} = Astro.props;
---
<a href={uri} class='project-card'>
  <article>
    <h4 class='project-card-title'>{ title}</h4>
    <div class='project-card-content'>
      <p class='project-card-summary'>{ summary }</p>
      <footer class='project-card-foot'>
        <ul class='project-card-tags'>
          { tags.map(tag => <li>{ tag }</li>)}  
        </ul>
      </footer>
    </div>
  </article>
</a>

<style lang="scss">
  .project-card {
    display: block;
    margin: 1rem;
    padding: 0.5rem;

    background: var(--shade-100);

    .project-card-title {
      margin-bottom: 0.5rem;
      padding: 0.25rem 0.5rem 0 0.5rem;

      font-size: 1.25rem;
      line-height: 1.5em;

      background: var(--shade-50);
      color: var(--shade-700);
    }

    .project-card-content {
      padding: 0.5rem;
    }

    .project-card-summary {
      font-size: 1rem;
    }

    .project-card-foot {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;

      margin-top: 0.5rem;
      padding-top: 0.5rem;

      font-size: 0.5em;

      border-top: 1px solid var(--shade-200);

      .project-card-tags {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        li {
          padding: 0.5em;
          line-height: 1em;
          background: var(--shade-200);
          color: var(--shade-700);

          &:not(:first-child) { margin-left: 0.5em; }
        }
      }
    }
  }
</style>