---
/*
 * Base layout that drives all other layouts and pages
 */
import '@styles/index.scss';

import { SEO } from 'astro-seo';
import type { Props as SEOProps } from 'astro-seo';

const seoOveride:SEOProps = Astro.props.seo ?? {};
const seoProps:SEOProps = {
  title: 'Chris Pikul',
  description: 'Portfolio site for Chris Pikul, developer for hire',
  openGraph: {
    basic: {
      title: 'Portfolio of Chris Pikul',
      type: 'website',
      image: '/dummy.png',
    },
    image: {
      url: '/dummy.png',
      type: 'image/png',
      alt: 'dummy image',
    },
    optional: {
      description: 'Personal portfolio site for Chris Pikul, developer for hire.',
      locale: 'en-US',
      siteName: 'Chris Pikul',
    }
  },
  twitter: {
    card: 'summary',
    site: '@ChrisPikul510',
    creator: '@ChrisPikul510',
  },
  extend: {
    link: [
      { rel: 'icon', href: '/favicon.ico' },
    ],
    meta: [
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
    ],
  },

  ...seoOveride,
};
---
<!DOCTYPE html>
<html lang="en">
<head>
  <SEO {...seoProps} />

  <link rel='preload' as='style' href='/fonts/exo-2.css' />
  <link rel='stylesheet' href='/fonts/exo-2.css' media='print' onload='this.media = all' />

  <link rel='preload' as='style' href='/fonts/oxygen.css' />
  <link rel='stylesheet' href='/fonts/oxygen.css' media='print' onload='this.media = all' />
  
  <noscript>
    <link rel='stylesheet' href='/fonts/exo-2.css' />
    <link rel='stylesheet' href='/fonts/oxygen.css' />
  </noscript>

  
</head>
<body class='no-js'>
  <slot />
  <script is:inline>
    document.body.classList.remove('no-js');
  </script>
</body>
</html>

<script>
  // Web-font loading strategy
  (() => {
    const markFontsLoaded = () => document.documentElement.classList.add('fonts-loaded');
    if(sessionStorage && sessionStorage.fontsLoaded) {
      markFontsLoaded();
    } else if('fonts' in document) {
      Promise.all([
        document.fonts.load('300 1em "Exo-2"'),
        document.fonts.load('400 1em Oxygen'),
      ]).then(() => {
        if(sessionStorage)
          sessionStorage.fontsLoaded = true;
      }).catch(err => {
        console.error(`error loading web-fonts: ${err}`);
      }).finally(markFontsLoaded);
    }
  })();
</script>