---
/*
 * General layout for pages that ARE NOT the homepage
 */
import type { Props as SEOProps } from 'astro-seo';

import BaseLayout from '@layouts/BaseLayout.astro';
import HeaderNav from '@components/HeaderNav.astro';

 const seoOveride:SEOProps = Astro.props.seo ?? {};
---
<BaseLayout seo={seoOveride}>
  <header class='white'>
    <HeaderNav />

    <div class='hero'>
      <h1>{ Astro.props.title }</h1>
      <slot name='hero-content'/>
    </div>
  </header>
  <slot />
</BaseLayout>

<style lang="scss">
  @use '../styles/_base' as *;
  @use '../styles/_colors' as *;

  .hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: var(--content-pad-x);
    padding-bottom: 0;

    h1 {
      margin-bottom: 1rem;
    }
  }
</style>