---
/**
 * Chris Pikul's Portfolio, designed and coded by Chris Pikul.
 * Copyright 2022 Chris Pikul. All Rights Reserved.
 * 
 * Master layout that should wrap or be the derivitive of all other layouts
 */
---
<html lang="en">
<head>
  <title>Hello World</title>
</head>
<body>
  <slot /> 
</body>
</html>